
table {
    border-collapse: collapse;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-button {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #0056b3;
}

td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

td {
    height: 50px;
    width: 50px;
}

.day {
    cursor: pointer;
}

.green {
    background-color: #4caf50;
    color: white;
}

.yellow {
    background-color: #ffeb3b;
    color: black;
}

.red {
    background-color: #f44336;
    color: white;
}

.selected {
    background-color: #4caf50;
    color: white;
}

.sunday {
    background-color: #ffcccc; /* 赤 */
}

.saturday {
    background-color: #ccccff; /* 青 */
}

.weekdays {
    background-color: #d3d3d3; /* 灰 */
}
